@charset "UTF-8";
.carousel-item {
  height: 40vw;
}

.title-img {
  position: relative;
}

.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  width: 100%;
}

.title-text h1 {
  font-size: 5vw;
  text-shadow: 0.25vw 0.25vw #000;
}

.title-text h5 {
  font-size: 3vw;
  text-shadow: 0.15vw 0.15vw #000;
}

.about {
  background: #f8f9fa;
}

.abtbtn {
  width: 100%;
}
