@charset "UTF-8";
.carousel-item {
  height: 40vw;
}

.title-img {
  position: relative;
}

.title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw #000;
  width: 100%;
}

.title-text h1 {
  font-size: 5vw;
}

.title-text h5 {
  font-size: 3vw;
}
